html, body {
    font-size: 14px;
    /*font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;*/
}

h1 {
    color: #000000;
    padding-bottom: 0;
    /* line-height: 1rem; */
    font-size: 3.0rem;
    margin-top: 10rem;
    font-weight: bold;
}

ul li {
    font-size: 1.2rem;
    color: #656565;
}

.btn-outline-primary {
    border-color: #5c4ee5 !important;
    color: #5c4ee5;
}

.btn-primary {
    background-color: #5c4ee5 !important;
    border-color: #5c4ee5 !important;
}

.btn-outline-primary:hover {
    background-color: #5c4ee5 !important;
}

.form-control, .btn {
    border-radius: 0 !important;
}

.sub-heading {
    color: #666666;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

input {
    padding: 0.5rem 1rem;
}

.form {
    max-width: 600%;
}

textarea {
    font-size: 12px !important;
}

img {
    border: 2px solid #efefef;
}

pre {
    background: whitesmoke;
    padding: 10px;

}

input[name="timeout"],
input[name="viewport"] {
    height: 1.5rem;
}

textarea[name="headers"],
textarea[name="headers"]:focus,
textarea[name="form_data"],
textarea[name="form_data"]:focus,
textarea[name="simulation_code"],
textarea[name="simulation_code"]:focus,
textarea[name="traversals"],
textarea[name="traversals"]:focus,
textarea[name="extractors"],
textarea[name="extractors"]:focus {
    background: #353535;
    color: #c1c1c1;
    font-family: monospace;
    height: 20rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.btn-primary, .btn-secondary {
    padding: 0.2rem 2rem;
}

.docs-input .input-group-text {
    background: #4c4c4c;
    border-radius: 0;
    color: white;
    border: none;
}

.features-list {
    padding-left: 20px;
}