<!DOCTYPE html>
<html lang="en">
<head>
    <title>Documentation</title>
    {% include 'includes/meta.html' %}

</head>
<body>
{% include 'includes/simple-header.html' %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 text-center">

            <header>
                <h1>Documentation</h1>

            </header>

            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                    <a href="/docs/restful-api.html">
                        <div class="card mt-4">
                            <div class="card-body">
                                <h3>Restful API</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/docs/python-api.html">
                        <div class="card mt-4">
                            <div class="card-body">
                                <h3>Python API</h3>
                            </div>
                        </div>
                    </a>
                </div>

            </div>


        </div>

    </div>


</div>
{% include 'includes/footer.html' %}

</body>
</html>