<!DOCTYPE html>
<html lang="en">
<head>
    <title>Documentation</title>
    {% include 'includes/meta.html' %}

</head>
<body>
{% include 'includes/header.html' %}

<style>
    pre {
        background: #424242;
        padding: 10px;
        color: #efefef;
        margin-top: .5rem;
    }
</style>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <header>
                <h1>Documentation</h1>
                <p class="sub-heading">Notes on API Implementation</p>

            </header>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3 docs-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text">POST</span>
                        </div>
                        <input type="text" value="/execute" readonly class="form-control">
                    </div>
                    <!--<p class="text-center">or</p>-->


                    <!--<div class="input-group mb-3 docs-input">-->
                        <!--<div class="input-group-prepend">-->
                            <!--<span class="input-group-text">POST</span>-->
                        <!--</div>-->
                        <!--<input type="text" value="/extract" readonly class="form-control">-->
                    <!--</div>-->
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">

                </div>
            </div>


        </div>
        <div class="col-md-6">
            <h6 class="mt-3">URL Parameters</h6>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>param</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>url</td>
                    <td>encoded url example:https://invanalabs.ai</td>
                </tr>
                <tr>
                    <td>timeout</td>
                    <td>in seconds. example:180</td>
                </tr>
                <tr>
                    <td>token</td>
                    <td>secret token. example:iamlazydeveloper</td>
                </tr>
                <tr>
                    <td>take_screenshot</td>
                    <td>take the screenshot. `1` for yes `0` for no. defaults to `0`</td>
                </tr>
            </table>

            <h6 class="mt-5">Payload</h6>
            <table class="table table-bordered table-striped mb-5">
                <tr>
                    <th>key</th>
                    <th>value</th>
                </tr>
                <tr>
                    <td>headers</td>
                    <td>Headers in yaml format. Example:

                        <pre>
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3809.100 Safari/517.36
Cookies:
- name: user.expires_at
  value: xxxxxx
  domain: www.example.com
Referer: null
Proxy: null
</pre>
                    </td>
                </tr>
                <tr>
                    <td>extracts</td>
                    <td>Extracts in yaml configuration
                        <pre>
- extractor_type: MetaTagExtractor
  extractor_id: meta_tags
- extractor_type: CustomContentExtractor
  extractor_id: content
  data_selectors:
  - selector_id: title
    selector: title
    selector_type: css
    selector_attribute: text
    data_type: RawField
</pre>

                    </td>
                </tr>
              <tr>
                    <td>traversals</td>
                    <td>Traversals in yaml configuration
                        <pre>
- traversal_id: default_traversal
  selector: "a"
  selector_type: css
  selector_attribute: href
  data_type: ListStringField
  max_requests: 500
  next_spider_id: default_spider
</pre>

                    </td>
                </tr>

                <tr>
                    <td>simulation_code</td>
                    <td>Python code with extract capabilities of selenium-python
                        <pre>
def simulate(driver=None):
    import random
    driver.switch_to.default_content()
    driver.implicitly_wait(random.randint(0, 2))
    print ('Successfully waited for sometime')
</pre>

                    </td>
                </tr>
                <tr>
                    <td>form_data</td>
                    <td>Form data to simulate a form submission.
                        <pre>
form_identifier:
  selector: "form.login-form"
  selector_type: "css"
  form_number: 0
submit_identifier:
  selector: ".btn-submit"
fields:
  - field_selector: "userLoginId"
    field_value: "hello@example.com"
  - field_selector: "password"
    field_value: "password"

</pre>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}

</body>
</html>