<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/meta.html' %}
</head>
<body>
{% include 'includes/header.html' %}
<div class="container-fluid">

    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <!--<h4 class="font-weight-bold ml-5">Major Features</h4>-->

            <h1>Browser Engine</h1>

            <p class="sub-heading">Web Browser Automation and User behaviour simulations made simple.</p>

            <ul class="features-list">
                <li>Renders WebPage</li>
                <li>Auto-full and Submit forms</li>
                <li>Simulate actions like click, hover on web elements</li>
                <li>Take Screenshot of UI components</li>
                <li>Extract structured data like headings, anchors, meta, JSON+LD.</li>
                <li>Extract custom data using YAML configurations.</li>
            </ul>
            <p class="small">Built with love by
                <a target="_blank" href="http://invanalabs.ai">Invana Labs</a>
            </p>

        </div>

    </div>
</div>
{% include 'includes/footer.html' %}

</body>
</html>