<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrawlerFlow Browser & Automation Engine</title>

    <!--<link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" >-->
    <!--<link href="{{ url_for('static', filename='styles/main.css') }}" >-->

    <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">

            <h1>Login Required</h1>
            <hr>



            <form class="form" method="get">

                <div class="input-group mb-2">
                    <input type="text" class="form-control" name="token" placeholder="Auth token">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit" id="submit-button">Submit</button>
                    </div>
                </div>
                <p class="text-muted">Default password is "iamlazydeveloper"</p>

            </form>
        </div>
    </div>
</div>

</body>
</html>