<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrawlerFlow Browser & Automation Engine</title>
    <style>
        html, body{
            font-size: 14px;
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
        }
        h1 {
            color: #5c4ee5;
            padding-bottom: 0;
            line-height: 1rem;
            font-size: 1.6rem;
        }
        .sub-heading{
            font-size: 1.2rem;
            color: #666666;
        }
    </style>
</head>
<body>
<h1>CrawlerFlow Browser & Automation Engine</h1>
<p class="sub-heading">Web Automation and user behaviour Simulations made easy with yaml configurations.</p>
<form action="/render">
    <input type="text" placeholder="url">

</form>
</body>
</html>