<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/meta.html' %}

</head>
<body>
{% include 'includes/header.html' %}
<style>
    .remove-task {
        border-radius: 2px !important;
        padding: 5px !important;
        line-height: 5px;
        float: right;
        /*position: absolute;*/
        right: 28px;
        top: 56px;
        cursor: pointer;
        color: #ff4462 !important;
    }

    .task-section {
        border: 1px solid #efefef;
        padding: 10px;
        margin-top: 10px;
        background: whitesmoke;
    }
</style>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <form action="#" class="form" id="form">

                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="tasks-list-tab" data-toggle="tab" href="#tasks-list" role="tab"
                           aria-controls="tasks-list" aria-selected="true">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="init-headers-tab" data-toggle="tab" href="#init-headers" role="tab"
                           aria-controls="init-headers" aria-selected="false">Request options</a>
                    </li>
                </ul>
                <div class="tab-content" id="tasks-content">

                    <div class="tab-pane fade  show active" id="tasks-list" role="tabpanel"
                         aria-labelledby="tasks-list-tab">

                        <div id="task-list-content"></div>

                        <div class="mb-2">
                            <div class="input-group mb-3 mt-3 p-2">
                                <select name="new_task_type" id="new-task-type" class="form-control">
                                    <option value="get_html">HTML Extractor</option>
                                    <option value="get_screenshot">Screenshot</option>
                                    <option value="browser_simulation">Browser Simulation</option>
                                    <option value="json_extractor">JSON Extraction</option>

                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary add-new-task btn-sm" type="button">+ Add Task
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="init-headers" role="tabpanel" aria-labelledby="init-headers-tab">
                        <div class="mb-2 mt-2">
                            <label><strong>Initial Headers</strong></label>
                            <textarea name="init_headers" class="form-control" cols="30" rows="10"></textarea>
                            <p><a id="load-init-headers" href="javascript:void(0);">load template</a></p>

                            <label><strong>Request Timeout</strong></label>
                            <input type="text" class="form-control" name="timeout" value="180">

                            <label><strong>Browser Resolution</strong></label>
                            <input type="text" class="form-control" name="viewport" value="1280x720">
                        </div>
                    </div>

                </div>
            </form>


        </div>
        <div class="col-md-6">
            {% include 'includes/right-side.html' %}

        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/simulate.js') }}"></script>

</body>
</html>