<!DOCTYPE html>
<html lang="en">
<head>
    <title>CrawlerFlow Browser & Automation Engine</title>
    {% include 'includes/meta.html' %}

</head>
<body>
{% include 'includes/header.html' %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">

            <header>
                <h1>/simulate API</h1>
                <p class="sub-heading">
                    Renders webpage, simulate actions like click, hover and extracts with YAML configurations.
                </p>

            </header>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
{% include 'includes/footer.html' %}

</body>
</html>